<div th:fragment="password-form" class="card border">
    <!-- Card header -->
    <div class="card-header border-bottom">
        <h4 class="card-header-title">Update Password</h4>
        <p class="mb-0">Your current email address is <span class="text-primary" th:text="${user.email}">example@gmail.com</span></p>
    </div>

    <!-- Card body START -->
    <form th:action="@{/users/update-password}" th:object="${passwordUpdate}" method="post" class="card-body">
        <!-- Current password -->
        <div class="mb-3">
            <label class="form-label">Current password</label>
            <input th:field="*{oldPassword}" class="form-control" type="password" placeholder="Enter current password">
            <small th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="text-danger" th:errors="*{oldPassword}"></small>
        </div>
        <!-- New password -->
        <div class="mb-3">
            <label class="form-label"> Enter new password</label>
            <div class="input-group">
                <input th:field="*{newPassword}" class="form-control fakepassword" placeholder="Enter new password" type="password" id="psw-input">
                <span class="input-group-text p-0 bg-transparent">
                                            <i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
                                        </span>
                <small th:if="${#fields.hasErrors('newPassword')}" th:errorclass="text-danger" th:errors="*{newPassword}"></small>
            </div>
        </div>
        <!-- Confirm -->
        <div class="mb-3">
            <label class="form-label">Confirm new password</label>
            <input th:field="*{confirmPassword}" class="form-control" type="password" placeholder="Confirm new password">
            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errorclass="text-danger" th:errors="*{confirmPassword}"></small>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary mb-0">Change Password</button>
        </div>
    </form>
    <!-- Card body END -->
</div>