<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Accès Refusé - VolMaghreb</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="VolMaghreb">
	<meta name="description" content="VolMaghreb - Flight Booking System">

	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&amp;family=Poppins:wght@400;500;700&amp;display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Error 403 START -->
<section class="p-0 d-flex align-items-center position-relative overflow-hidden">
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<div class="row">
					<div class="col-lg-6 mx-auto">
						<h1 class="display-1 text-danger mb-0">403</h1>
						<h2>Accès Refusé</h2>
						<p>Désolé, vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
						<div class="d-sm-flex justify-content-center mt-4">
							<!-- Button -->
							<div th:if="${#authorization.expression('isAuthenticated()')}">
								<a th:if="${#authorization.expression('hasRole(''USER'')')}" th:href="@{/home}" class="btn btn-primary-soft me-2 mb-2 mb-sm-0">Retour à l'accueil</a>
								<a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:href="@{/dashboard}" class="btn btn-primary-soft me-2 mb-2 mb-sm-0">Retour au tableau de bord</a>
							</div>
							<div th:unless="${#authorization.expression('isAuthenticated()')}">
								<a th:href="@{/auth/sign-in}" class="btn btn-primary mb-2 mb-sm-0">Se connecter</a>
							</div>
						</div>

						<div class="d-flex justify-content-center mt-4">
							<img th:src="@{/assets/images/element/403-error.svg}" class="h-300px h-sm-400px" alt="403 error">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Error 403 END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>

</body>
</html> 