<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="dashboard">

<!-- Header START -->
<header th:replace="fragments/navbar :: navbar"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Menu item START -->
<section class="pt-4">
	<div class="container">
		<div class="card rounded-3 border p-3 pb-2">
			<!-- Avatar and info -->
			<div class="d-sm-flex align-items-center">
				<div class="avatar avatar-xl mb-2 mb-sm-0">
					<img class="avatar-img rounded-circle" th:src="@{/assets/images/avatar/01.jpg}" alt="">
				</div>
				<h4 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">Hello,</span> Juddy</h4>
				<a href="account-settings.html" class="btn btn-sm btn-primary-soft mb-0 ms-auto"><i class="bi bi-pencil-square me-1"></i> Edit Profile</a>
			</div>

			<!-- Advanced filter responsive toggler START -->
			<!-- Divider -->
			<hr class="d-xl-none">
			<div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
				<a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
				<button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
					<i class="fas fa-sliders-h"></i>
				</button>
			</div>
			<!-- Advanced filter responsive toggler END -->
		</div>
	</div>
</section>
<!-- =======================
Menu item END -->

<!-- =======================
Content START -->
<section class="pt-0">
	<div class="container vstack gap-4">
		<!-- Title -->
		<h2 class="mb-0">My Bookings</h2>

		<div class="row">
			<!-- Left sidebar START -->
			<div class="col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasSidebarLabel">My Profile</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<!-- Offcanvas body -->
					<div class="offcanvas-body p-3 p-xl-0">
						<div class="bg-light border rounded-3 pb-0 p-3 w-100">
							<!-- Dashboard menu -->
							<div class="list-group list-group-borderless">
								<a class="list-group-item active" th:href="@{/reservations/my-reservations}"><i class="fa-solid fa-ticket-alt fa-fw me-2"></i>My Bookings</a>
								<a class="list-group-item" th:href="@{/user/profile}"><i class="fa-solid fa-user-tie fa-fw me-2"></i>My Profile</a>
								<a class="list-group-item" href="#"><i class="fa-solid fa-user-gear fa-fw me-2"></i>Account Settings</a>
								<a class="list-group-item" href="#"><i class="fa-solid fa-life-ring fa-fw me-2"></i>Support</a>
								<a class="list-group-item" href="#"><i class="fa-solid fa-power-off fa-fw me-2"></i>Sign Out</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Responsive offcanvas body END -->
			</div>
			<!-- Left sidebar END -->

			<!-- Main content START -->
			<div class="col-xl-9">
				<!-- Booking table START -->
				<div class="card border">
					<!-- Card header -->
					<div class="card-header border-bottom">
						<h5 class="card-header-title">Flight Bookings</h5>
					</div>

					<!-- Card body START -->
					<div class="card-body p-0">
							<!-- Table -->
							<div class="table-responsive">
								<table class="table table-invoice table-borderless mb-0">
									<thead class="table-light">
										<tr>
											<th scope="col" class="text-start">Booking Details</th>
											<th scope="col" class="text-start">Booking ID</th>
											<th scope="col" class="text-start">Date</th>
											<th scope="col" class="text-start">Amount</th>
											<th scope="col" class="text-start">Status</th>
											<th scope="col" class="text-center">Action</th>
										</tr>
									</thead>
									<!-- Table body START -->
									<tbody class="border-top">
										<!-- Table item -->
										<tr th:each="reservation : ${reservations}">
											<!-- Table data -->
											<td>
												<div class="d-flex align-items-center">
													<!-- Info -->
													<div class="ms-2">
														<h6 class="mb-0"><a href="#" th:text="${reservation.flight.departureAirport.name} + ' to ' + ${reservation.flight.arrivalAirport.name}"></a></h6>
														<small><i class="fa-solid fa-plane me-1"></i><span th:text="${reservation.flight.flightNumber}"></span></small>
													</div>
												</div>
											</td>

											<!-- Table data -->
											<td>
												<h6 class="mb-0">Booking ID</h6>
												<small th:text="${reservation.reservationNumber}"></small>
											</td>

											<!-- Table data -->
											<td>
												<h6 class="mb-0">Booking Date</h6>
												<small th:text="${#temporals.format(reservation.reservationTime, 'dd MMM yyyy')}"></small>
											</td>

											<!-- Table data -->
											<td>
												<h6 class="mb-0">Amount</h6>
												<small th:text="${reservation.flight.economyClassPrice}"></small>
											</td>

											<!-- Table data -->
											<td> <span class="badge bg-success bg-opacity-10 text-success" th:text="${reservation.status}"></span> </td>

											<!-- Table data -->
											<td class="text-center">
												<a href="#" class="btn btn-sm btn-light mb-0">View</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					<!-- Card body END -->

					<!-- Card footer START -->
					<div class="card-footer pt-0">
						<!-- Pagination -->
						<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
							<!-- Content -->
							<p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
							<!-- Pagination -->
							<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
								<ul class="pagination pagination-sm pagination-primary-soft mb-0">
									<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item active"><a class="page-link" href="#">2</a></li>
									<li class="page-item disabled"><a class="page-link" href="#">..</a></li>
									<li class="page-item"><a class="page-link" href="#">15</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- Card footer END -->
				</div>
				<!-- Booking table END -->
			</div>
			<!-- Main content END -->
		</div>
	</div>
</section>
<!-- =======================
Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-to-top"></div>

<!-- Bootstrap JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>

</body>

<!-- Mirrored from stackbros.in/bookinga/landing/reservation-booking.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 08 Apr 2025 18:38:24 GMT -->
</html>